<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-copyright">
                © 2025 Бесплатная система продажи остатков
            </div>
            <div class="footer-links">
                <a href="#" class="footer-link">О компании</a>
                <a href="#" class="footer-link">Помощь</a>
                <a href="#" class="footer-link" id="contact-link">Напишите нам</a>
                <!-- Время генерации -->
                <span class="footer-generation-time">
                    Генерация страницы за: {{ generation_time_ms }} мс
                </span>
            </div>
        </div>
    </div>
</footer>